# Data Manipulation Studio

For this studio, we will revisit our California farmers looking for advice on growing pumpkins and the same [pumpkins dataset](https://www.kaggle.com/usda/a-year-of-pumpkin-prices) as provided by the U.S. Department of Agriculture. You may have to clean data in the process of data manipulation, so feel free to pull up your notebook from the last class's studio.

We will now be focusing our attention on a different region in the United States, the Northeast. When you open up the `dataset` folder, you will have 13 CSVs, including the San Francisco and Los Angeles data from the last lesson. The 13 CSVs are each a different terminal market in the United States.

## Getting Started

Import the CSVs for each of the following cities: Baltimore, Boston, New York, and Philadelphia. Set up a dataframe for each city.

In [1]:
# Import the necessary libraries and CSVs. Make some dataframes!
import pandas as pd
import numpy as np

df_Baltimore= pd.read_csv("baltimore_9-24-2016_9-30-2017.csv")
df_Boston=pd.read_csv("boston_9-24-2016_9-30-2017.csv")
df_NewYork=pd.read_csv("new-york_9-24-2016_9-30-2017.csv")
df_Philadelphia=pd.read_csv("philadelphia_9-24-2016_9-30-2017.csv")
print(df_Baltimore.shape)
print(df_Boston.shape)
print(df_NewYork.shape)
print(df_Philadelphia.shape)

(153, 25)
(352, 25)
(112, 25)
(57, 25)

## Clean Your Data

In the last lesson, we cleaned the data to related to San Francisco. Pull up your notebook from the last lesson and use your cleaning skills to clean the dataframes as necessary.

In [2]:
# Clean your data here!
#find missing data percentage in df_Baltimore
for col in df_Baltimore.columns:
    pct_missing = np.mean(df_Baltimore[col].isnull())
    print('{} - {}%'.format(col, round(pct_missing*100)))

Commodity Name - 0%
City Name - 0%
Type - 100%
Package - 0%
Variety - 1%
Sub Variety - 84%
Grade - 100%
Date - 0%
Low Price - 0%
High Price - 0%
Mostly Low - 0%
Mostly High - 0%
Origin - 3%
Origin District - 100%
Item Size - 16%
Color - 80%
Environment - 100%
Unit of Sale - 84%
Quality - 100%
Condition - 100%
Appearance - 100%
Storage - 100%
Crop - 100%
Repack - 0%
Trans Mode - 100%

In [3]:
#find missing data percentage in df_Boston
for col in df_Boston.columns:
    pct_missing = np.mean(df_Boston[col].isnull())
    print('{} - {}%'.format(col, round(pct_missing*100)))

Commodity Name - 0%
City Name - 0%
Type - 100%
Package - 0%
Variety - 0%
Sub Variety - 92%
Grade - 100%
Date - 0%
Low Price - 0%
High Price - 0%
Mostly Low - 0%
Mostly High - 0%
Origin - 0%
Origin District - 81%
Item Size - 1%
Color - 14%
Environment - 100%
Unit of Sale - 87%
Quality - 100%
Condition - 100%
Appearance - 100%
Storage - 100%
Crop - 100%
Repack - 0%
Trans Mode - 100%

In [4]:
#find missing data percentage in df_NewYork
for col in df_NewYork.columns:
    pct_missing = np.mean(df_NewYork[col].isnull())
    print('{} - {}%'.format(col, round(pct_missing*100)))

Commodity Name - 0%
City Name - 0%
Type - 100%
Package - 0%
Variety - 0%
Sub Variety - 84%
Grade - 100%
Date - 0%
Low Price - 0%
High Price - 0%
Mostly Low - 0%
Mostly High - 0%
Origin - 0%
Origin District - 87%
Item Size - 7%
Color - 81%
Environment - 100%
Unit of Sale - 78%
Quality - 100%
Condition - 100%
Appearance - 100%
Storage - 100%
Crop - 100%
Repack - 0%
Trans Mode - 100%

In [5]:
#find missing data percentage in df_Philadelphia
for col in df_Philadelphia.columns:
    pct_missing = np.mean(df_Philadelphia[col].isnull())
    print('{} - {}%'.format(col, round(pct_missing*100)))

Commodity Name - 0%
City Name - 0%
Type - 100%
Package - 0%
Variety - 0%
Sub Variety - 79%
Grade - 100%
Date - 0%
Low Price - 0%
High Price - 0%
Mostly Low - 0%
Mostly High - 0%
Origin - 0%
Origin District - 100%
Item Size - 21%
Color - 100%
Environment - 100%
Unit of Sale - 81%
Quality - 100%
Condition - 100%
Appearance - 100%
Storage - 100%
Crop - 100%
Repack - 0%
Trans Mode - 100%

In [6]:
# Fill the Missing Values in the Type Column with "Conventional" for all dataframes
df_Baltimore["Type"] = df_Baltimore["Type"].fillna("Conventional")
df_Boston["Type"] = df_Boston["Type"].fillna("Conventional")
df_NewYork["Type"] = df_NewYork["Type"].fillna("Conventional")
df_Philadelphia["Type"] = df_Philadelphia["Type"].fillna("Conventional")

In [7]:
#Dropping the 'Grade' column in all the data frames
df_Baltimore = df_Baltimore.drop(["Grade"], axis=1) 
df_Boston = df_Boston.drop(["Grade"], axis=1) 
df_NewYork = df_NewYork.drop(["Grade"], axis=1) 
df_Philadelphia =df_Philadelphia.drop(["Grade"], axis=1)

In [8]:
# Environment - can be dropped as it is additional notes
# Unit of Sale - can be dropped as it is additional notes
# Quality - can be dropped as it is additional notes
# Condition - can be dropped as it is additional notes
# Appearance - can be dropped as it is additional notes
# Storage - can be dropped as it is additional notes
# Crop - can be dropped as it is additional notes

In [9]:
df_Baltimore = df_Baltimore.drop(["Environment"], axis=1)
df_Baltimore = df_Baltimore.drop(["Unit of Sale"], axis=1)
df_Baltimore = df_Baltimore.drop(["Quality"], axis=1)
df_Baltimore = df_Baltimore.drop(["Condition"], axis=1)
df_Baltimore = df_Baltimore.drop(["Appearance"], axis=1)
df_Baltimore = df_Baltimore.drop(["Storage"], axis=1)
df_Baltimore = df_Baltimore.drop(["Crop"], axis=1)
df_Boston = df_Boston.drop(["Environment"], axis=1)
df_Boston = df_Boston.drop(["Unit of Sale"], axis=1)
df_Boston = df_Boston.drop(["Quality"], axis=1)
df_Boston = df_Boston.drop(["Condition"], axis=1)
df_Boston = df_Boston.drop(["Appearance"], axis=1)
df_Boston = df_Boston.drop(["Storage"], axis=1)
df_Boston = df_Boston.drop(["Crop"], axis=1)
df_NewYork = df_NewYork.drop(["Environment"], axis=1)
df_NewYork = df_NewYork.drop(["Unit of Sale"], axis=1)
df_NewYork = df_NewYork.drop(["Quality"], axis=1)
df_NewYork = df_NewYork.drop(["Condition"], axis=1)
df_NewYork = df_NewYork.drop(["Appearance"], axis=1)
df_NewYork = df_NewYork.drop(["Storage"], axis=1)
df_NewYork = df_NewYork.drop(["Crop"], axis=1)
df_Philadelphia = df_Philadelphia.drop(["Environment"], axis=1)
df_Philadelphia = df_Philadelphia.drop(["Unit of Sale"], axis=1)
df_Philadelphia = df_Philadelphia.drop(["Quality"], axis=1)
df_Philadelphia = df_Philadelphia.drop(["Condition"], axis=1)
df_Philadelphia = df_Philadelphia.drop(["Appearance"], axis=1)
df_Philadelphia = df_Philadelphia.drop(["Storage"], axis=1)
df_Philadelphia = df_Philadelphia.drop(["Crop"], axis=1)

In [10]:
# Origin District can be dropped because we have Origin column which is sufficient data
df_Baltimore = df_Baltimore.drop(["Origin District"], axis=1)
df_Boston = df_Boston.drop(["Origin District"], axis=1)
df_NewYork = df_NewYork.drop(["Origin District"], axis=1)
df_Philadelphia = df_Philadelphia.drop(["Origin District"], axis=1)

In [11]:
# Trans Mode - can be dropped as it does not have any data
df_Baltimore = df_Baltimore.drop(["Trans Mode"], axis=1)
df_Boston = df_Boston.drop(["Trans Mode"], axis=1)
df_NewYork = df_NewYork.drop(["Trans Mode"], axis=1)
df_Philadelphia = df_Philadelphia.drop(["Trans Mode"], axis=1)

In [12]:
# Sub Variety - can be dropped as it has  missing data
df_Baltimore = df_Baltimore.drop(["Sub Variety"], axis=1)
df_Boston = df_Boston.drop(["Sub Variety"], axis=1)
df_NewYork = df_NewYork.drop(["Sub Variety"], axis=1)
df_Philadelphia = df_Philadelphia.drop(["Sub Variety"], axis=1)

In [13]:
# Color - can be dropped as it has  missing data
df_Baltimore = df_Baltimore.drop(["Color"], axis=1)
df_Boston = df_Boston.drop(["Color"], axis=1)
df_NewYork = df_NewYork.drop(["Color"], axis=1)
df_Philadelphia = df_Philadelphia.drop(["Color"], axis=1)

In [14]:
# Item Size - can be dropped as it has  missing data
df_Baltimore = df_Baltimore.drop(["Item Size"], axis=1)
df_Boston = df_Boston.drop(["Item Size"], axis=1)
df_NewYork = df_NewYork.drop(["Item Size"], axis=1)
df_Philadelphia = df_Philadelphia.drop(["Item Size"], axis=1)

In [15]:
#Drop duplicates from all the dataframes
df_Baltimore = df_Baltimore.drop_duplicates()
df_Boston = df_Boston.drop_duplicates()
df_NewYork = df_NewYork.drop_duplicates()
df_Philadelphia = df_Philadelphia.drop_duplicates()

In [16]:
#Drop the rows with missing values in df_Baltimore under columns "Variety" and "Origin"
df_Baltimore=df_Baltimore.dropna(subset=['Variety','Origin'])

In [17]:
#check the shape of the data frames 
print(df_Baltimore.shape)
print(df_Boston.shape)
print(df_NewYork.shape)
print(df_Philadelphia.shape)

(135, 12)
(285, 12)
(102, 12)
(54, 12)

## Combine Your Data

Now that you have four clean sets of data, combine all four into one dataframe that represents the entire Northeast region.

In [18]:
# Combine the four dataframes into one!
frames=[df_Baltimore,df_Boston,df_NewYork,df_Philadelphia]
df=pd.concat(frames)

In [19]:
#check the shape of the new dataframe, and the columns
print(df.shape)
print(df.columns)
print(df.head())

(576, 12)
Index(['Commodity Name', 'City Name', 'Type', 'Package', 'Variety', 'Date',
       'Low Price', 'High Price', 'Mostly Low', 'Mostly High', 'Origin',
       'Repack'],
      dtype='object')
  Commodity Name  City Name          Type       Package      Variety  \
2       PUMPKINS  BALTIMORE  Conventional  24 inch bins  HOWDEN TYPE
3       PUMPKINS  BALTIMORE  Conventional  24 inch bins  HOWDEN TYPE
4       PUMPKINS  BALTIMORE  Conventional  24 inch bins  HOWDEN TYPE
5       PUMPKINS  BALTIMORE  Conventional  24 inch bins  HOWDEN TYPE
6       PUMPKINS  BALTIMORE  Conventional  36 inch bins  HOWDEN TYPE

         Date  Low Price  High Price  Mostly Low  Mostly High    Origin Repack
2  09/24/2016        160       160.0         160        160.0  DELAWARE      N
3  09/24/2016        160       160.0         160        160.0  VIRGINIA      N
4  11/05/2016         90       100.0          90        100.0  MARYLAND      N
5  11/12/2016         90       100.0          90        100.0  MARYLAND      N
6  09/24/2016        160       170.0         160        170.0  MARYLAND      N

## Answer Some Questions

Use `groupby()` and `agg()` to answer the following two questions:

1. What is the mean low and high prices for each type of unit of sale in the Northeast region? In the last lesson, we learned that a unit of sale could be something like a bin or individually. 
2. What is the average number of pumpkins for each variety that came into terminal markets for the year by region? Pumpkin varieties include Howden and Fairytale pumpkins.

In [29]:
# Put your code here to find the mean low and high prices in the Northeast region for each type of unit of sale.
gb_dftype=df.groupby('Type')
print(gb_dftype.head())
# agg_func_list = ['mean', 'min', 'max']
# agg_gb_dftype=gb_dftype.agg(agg_func_list)
# agg_gb_dftype
agg_func_dict={"Low Price":["mean"],"High Price":["mean"]}
agg_gb_dftype=df.agg(agg_func_dict)
agg_gb_dftype

  Commodity Name  City Name          Type       Package      Variety  \
2       PUMPKINS  BALTIMORE  Conventional  24 inch bins  HOWDEN TYPE
3       PUMPKINS  BALTIMORE  Conventional  24 inch bins  HOWDEN TYPE
4       PUMPKINS  BALTIMORE  Conventional  24 inch bins  HOWDEN TYPE
5       PUMPKINS  BALTIMORE  Conventional  24 inch bins  HOWDEN TYPE
6       PUMPKINS  BALTIMORE  Conventional  36 inch bins  HOWDEN TYPE

         Date  Low Price  High Price  Mostly Low  Mostly High    Origin Repack
2  09/24/2016        160       160.0         160        160.0  DELAWARE      N
3  09/24/2016        160       160.0         160        160.0  VIRGINIA      N
4  11/05/2016         90       100.0          90        100.0  MARYLAND      N
5  11/12/2016         90       100.0          90        100.0  MARYLAND      N
6  09/24/2016        160       170.0         160        170.0  MARYLAND      N

       Low Price  High Price
mean  134.328125  150.568576

In [21]:
# Put your code here to find the average number of pumpkins coming into terminal markets of each variety.
gb_dfvariety=df.groupby('Variety')

## Bonus Mission

Try answering the same questions for the Midwest (Chicago, Detroit, and St. Louis) or the Southeast (Atlanta, Columbia, and Miami) regions.

In [22]:
# Try the bonus mission if you have time!